LisansUstuBasvuruSistemi/Service References/Ws_GsisMezuniyetBilgi/danismanservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DanismanaAitDerslerUSIS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="danismanKullaniciAdi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanismanaAitDerslerUSISResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanismanaAitDerslerUSISResult" type="tns:ArrayOfDers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ders" nillable="true" type="tns:Ders" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ders">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="kod" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="grupNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ogrenciSayisi" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="birimId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="birimAd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gunSaat" type="tns:ArrayOfTakvimBilgisi" />
          <s:element minOccurs="0" maxOccurs="1" name="dersAlanOgrenciler" type="tns:ArrayOfOgrenci" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTakvimBilgisi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TakvimBilgisi" nillable="true" type="tns:TakvimBilgisi" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TakvimBilgisi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="gun" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="saat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sure" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOgrenci">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ogrenci" nillable="true" type="tns:Ogrenci" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ogrenci">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="soyad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DanismanaAitDerslerGSIS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="danismanKullaniciAdi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanismanaAitDerslerGSISResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanismanaAitDerslerGSISResult" type="tns:ArrayOfDers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TezBilgisiGSIS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ogrenciNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TezBilgisiGSISResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TezBilgisiGSISResult" type="tns:Tez" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Tez">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ingilizceAd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tezDanismaniUnvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tezDanismani" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="danismanSicilNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="danismanKullaniciAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="danismanTck" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tikUyesi1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tikUyesi1Unvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tikUyesi2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tikUyesi2Unvan" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TezInfoGSIS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ogrenciNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TezInfoGSISResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TezInfoGSISResult" type="tns:TezInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TezInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tezDanismaniUnvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tezDanismani" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="danismanSicilNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="danismanKullaniciAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="danismanTck" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esDanismaniUnvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esDanismani" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esdanismanSicilNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esdanismanKullaniciAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="esdanismanTck" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tikUyesi1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tikUyesi1Unvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tikUyesi2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tikUyesi2Unvan" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OgrenciInfoGSIS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ogrenciNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dersler" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OgrenciInfoGSISResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OgrenciInfoGSISResult" type="tns:OgrenciInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OgrenciInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="derslereKayitOldumu" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="kredi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ortalama" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="akts" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="donemlikAlinanDersler" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DonemlikAlinanDerslerGSIS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ogrenciNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="donem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DonemlikAlinanDerslerGSISResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DonemlikAlinanDerslerGSISResult" type="tns:OgrenciInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DanismanaAitDerslerUSISSoapIn">
    <wsdl:part name="parameters" element="tns:DanismanaAitDerslerUSIS" />
  </wsdl:message>
  <wsdl:message name="DanismanaAitDerslerUSISSoapOut">
    <wsdl:part name="parameters" element="tns:DanismanaAitDerslerUSISResponse" />
  </wsdl:message>
  <wsdl:message name="DanismanaAitDerslerGSISSoapIn">
    <wsdl:part name="parameters" element="tns:DanismanaAitDerslerGSIS" />
  </wsdl:message>
  <wsdl:message name="DanismanaAitDerslerGSISSoapOut">
    <wsdl:part name="parameters" element="tns:DanismanaAitDerslerGSISResponse" />
  </wsdl:message>
  <wsdl:message name="TezBilgisiGSISSoapIn">
    <wsdl:part name="parameters" element="tns:TezBilgisiGSIS" />
  </wsdl:message>
  <wsdl:message name="TezBilgisiGSISSoapOut">
    <wsdl:part name="parameters" element="tns:TezBilgisiGSISResponse" />
  </wsdl:message>
  <wsdl:message name="TezInfoGSISSoapIn">
    <wsdl:part name="parameters" element="tns:TezInfoGSIS" />
  </wsdl:message>
  <wsdl:message name="TezInfoGSISSoapOut">
    <wsdl:part name="parameters" element="tns:TezInfoGSISResponse" />
  </wsdl:message>
  <wsdl:message name="OgrenciInfoGSISSoapIn">
    <wsdl:part name="parameters" element="tns:OgrenciInfoGSIS" />
  </wsdl:message>
  <wsdl:message name="OgrenciInfoGSISSoapOut">
    <wsdl:part name="parameters" element="tns:OgrenciInfoGSISResponse" />
  </wsdl:message>
  <wsdl:message name="DonemlikAlinanDerslerGSISSoapIn">
    <wsdl:part name="parameters" element="tns:DonemlikAlinanDerslerGSIS" />
  </wsdl:message>
  <wsdl:message name="DonemlikAlinanDerslerGSISSoapOut">
    <wsdl:part name="parameters" element="tns:DonemlikAlinanDerslerGSISResponse" />
  </wsdl:message>
  <wsdl:portType name="DanismanServiceSoap">
    <wsdl:operation name="DanismanaAitDerslerUSIS">
      <wsdl:input message="tns:DanismanaAitDerslerUSISSoapIn" />
      <wsdl:output message="tns:DanismanaAitDerslerUSISSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanismanaAitDerslerGSIS">
      <wsdl:input message="tns:DanismanaAitDerslerGSISSoapIn" />
      <wsdl:output message="tns:DanismanaAitDerslerGSISSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TezBilgisiGSIS">
      <wsdl:input message="tns:TezBilgisiGSISSoapIn" />
      <wsdl:output message="tns:TezBilgisiGSISSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TezInfoGSIS">
      <wsdl:input message="tns:TezInfoGSISSoapIn" />
      <wsdl:output message="tns:TezInfoGSISSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OgrenciInfoGSIS">
      <wsdl:input message="tns:OgrenciInfoGSISSoapIn" />
      <wsdl:output message="tns:OgrenciInfoGSISSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DonemlikAlinanDerslerGSIS">
      <wsdl:input message="tns:DonemlikAlinanDerslerGSISSoapIn" />
      <wsdl:output message="tns:DonemlikAlinanDerslerGSISSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DanismanServiceSoap" type="tns:DanismanServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DanismanaAitDerslerUSIS">
      <soap:operation soapAction="http://tempuri.org/DanismanaAitDerslerUSIS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanismanaAitDerslerGSIS">
      <soap:operation soapAction="http://tempuri.org/DanismanaAitDerslerGSIS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TezBilgisiGSIS">
      <soap:operation soapAction="http://tempuri.org/TezBilgisiGSIS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TezInfoGSIS">
      <soap:operation soapAction="http://tempuri.org/TezInfoGSIS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OgrenciInfoGSIS">
      <soap:operation soapAction="http://tempuri.org/OgrenciInfoGSIS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonemlikAlinanDerslerGSIS">
      <soap:operation soapAction="http://tempuri.org/DonemlikAlinanDerslerGSIS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DanismanServiceSoap12" type="tns:DanismanServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DanismanaAitDerslerUSIS">
      <soap12:operation soapAction="http://tempuri.org/DanismanaAitDerslerUSIS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanismanaAitDerslerGSIS">
      <soap12:operation soapAction="http://tempuri.org/DanismanaAitDerslerGSIS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TezBilgisiGSIS">
      <soap12:operation soapAction="http://tempuri.org/TezBilgisiGSIS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TezInfoGSIS">
      <soap12:operation soapAction="http://tempuri.org/TezInfoGSIS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OgrenciInfoGSIS">
      <soap12:operation soapAction="http://tempuri.org/OgrenciInfoGSIS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonemlikAlinanDerslerGSIS">
      <soap12:operation soapAction="http://tempuri.org/DonemlikAlinanDerslerGSIS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DanismanService">
    <wsdl:port name="DanismanServiceSoap" binding="tns:DanismanServiceSoap">
      <soap:address location="http://193.140.1.237/danismanservice/danismanservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DanismanServiceSoap12" binding="tns:DanismanServiceSoap12">
      <soap12:address location="http://193.140.1.237/danismanservice/danismanservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>