LisansUstuBasvuruSistemi/Service References/Ws_Kotalar/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gsisapplicantquota.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gsisapplicantquota.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gsisapplicantquota.net">
      <s:element name="Kontenjanlar">
        <s:complexType />
      </s:element>
      <s:element name="KontenjanlarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KontenjanlarResult" type="tns:ArrayOfQuota" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQuota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Quota" nillable="true" type="tns:Quota" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Quota">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Branchid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Edutypeid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fieldquota" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Minles" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Minagno" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Instid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fieldoutquota" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfQuota" nillable="true" type="tns:ArrayOfQuota" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KontenjanlarSoapIn">
    <wsdl:part name="parameters" element="tns:Kontenjanlar" />
  </wsdl:message>
  <wsdl:message name="KontenjanlarSoapOut">
    <wsdl:part name="parameters" element="tns:KontenjanlarResponse" />
  </wsdl:message>
  <wsdl:message name="KontenjanlarHttpGetIn" />
  <wsdl:message name="KontenjanlarHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfQuota" />
  </wsdl:message>
  <wsdl:message name="KontenjanlarHttpPostIn" />
  <wsdl:message name="KontenjanlarHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfQuota" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Kontenjanlar">
      <wsdl:input message="tns:KontenjanlarSoapIn" />
      <wsdl:output message="tns:KontenjanlarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="Kontenjanlar">
      <wsdl:input message="tns:KontenjanlarHttpGetIn" />
      <wsdl:output message="tns:KontenjanlarHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="Kontenjanlar">
      <wsdl:input message="tns:KontenjanlarHttpPostIn" />
      <wsdl:output message="tns:KontenjanlarHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Kontenjanlar">
      <soap:operation soapAction="http://gsisapplicantquota.net/Kontenjanlar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Kontenjanlar">
      <soap12:operation soapAction="http://gsisapplicantquota.net/Kontenjanlar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Kontenjanlar">
      <http:operation location="/Kontenjanlar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Kontenjanlar">
      <http:operation location="/Kontenjanlar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://193.140.1.237/kontenjanlar/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://193.140.1.237/kontenjanlar/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="https://193.140.1.237/kontenjanlar/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="https://193.140.1.237/kontenjanlar/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>